01_metadata/
02_fastq/
03_qc_results/
04_clean_data/
05_assembly/
06_assembly_qc/
07_annotation/
08_functional_screening/
09_deep_dive_mechanisms/
10_variant_calling_pairwise/
11_phylogenomics/
bakta_db/
busco_downloads/
rfam_db/
*.bam
*.sam
*.fasta
*.fastq
*.gz
*.pdf
*.png
